/* ==|== primary styles =====================================================
   Author: RealityGroup Agency
   ========================================================================== */

html, body {
	/*background: url('../img/wood_background.jpg') repeat #e4e5d7;*/
	background: url('../img/textured_stripes.png') repeat #e4e5d7;
	color: #808a70;
	font-family: 'PT Sans', "Times New Roman", Times, serif;
	font-size: 14px;
	height: 100%;
	width: 100%;
}
   
a, a:hover, a:visited { color: #c7c7c7; }
   

/* ==|== header ====================================================== */
header { height: 80px; background: #fff; position: relative; }
#logo { background: url("../img/logo.png"); height: 52px; margin: 12px 0 0 10px; text-indent: -9999px; width: 297px; }

.contacts { font-size: 18px; line-height: 70px; }
.contacts strong { color: #89b838; font-weight: normal; }
.contacts a { color: #89b838; font-style: italic; text-decoration: underline; font-size: 14px; margin: 0 0 0 10px; }

ul.social { list-style: none; margin: 34px 0 0; padding: 0; }
	ul.social li { float: left; }
	ul.social li a { background: url('../img/sprites.png'); display: block; height: 22px; text-indent: -9999px; }
		ul.social li.tw a { background-position: 0 0; width: 65px; }
		ul.social li.lj a { background-position: -65px 0; width: 27px; }
		ul.social li.vk a { background-position: -92px 0; width: 25px; }
		
nav { background: #92b555; height: 30px; margin: 0 0 30px; }
#main-nav { list-style: none; margin: 0 0 0 10px; } 
#main-nav li { float: left; }
#main-nav li.stroika { float: right; }
#main-nav li a { line-height: 30px; color: #523511; font-weight: bold; font-size: 14px; text-transform: uppercase; display: block; margin: 0 15px 0 0; letter-spacing: 1px; }
#main-nav li.stroika a { float: right; color: #fff; }
#stroika-pointer { background: url('../img/stroika.png') no-repeat; width: 119px; height: 133px; position: absolute; top: 22px; right: 20px; display: block; text-indent: -9999px;}
#stroika-agreement { background: url('../img/agreement.png') no-repeat; width: 233px; height: 220px; position: absolute; top: 30px; right: 180px; display: block; outline: 0 none; }

/* ==|== main block ====================================================== */
.promo-block { margin: 0 0 30px; }
.reviews { height: 280px; background: #92b555; color: #523511; position: relative; }
	.reviews .text { line-height: 28px; font-size: 24px; width: 315px; position: absolute; top: 30px; left: 40px; }
	.reviews .author { line-height: 16px; font-size: 13px; position: absolute; top: 170px; left: 40px; }
	.reviews .author i { display: inline-block; margin-left: 5px; }
	.reviews .quote { font-size: 64px; position: absolute; height: 40px; line-height: 40px;}
	.reviews .quote.left { left: 7px; top: 17px; }
	.reviews .quote.right { left: 295px; top: 102px; }
	.reviews .client { position: absolute; top: 0; right: 0; }
	a#read-reviews { background: #523511; bottom: 0; color: #89B838; font-style: italic; padding: 0 6px 4px; position: absolute; right: 0; text-decoration: underline; }
		a#read-reviews:hover { text-decoration: none; }

.promo-action { /*background: url('../img/promo-design.png') no-repeat;*/ width: 270px; height: 205px; display: block; }
.promo-action:hover { text-decoration: none; }
	.promo-action p { color: #523511; display: block; font: 26px/33px 'PT Sans',"Times New Roman",Times,serif; padding: 35px 45px; text-transform: uppercase; width: 150px; }
.banner { background: #523511; color: #fff; font-size: 27px; font-weight: bold; height: 50px; letter-spacing: 1px; line-height: 50px; margin-top: 2px; padding: 0 15px; text-transform: uppercase; } 
.banner b { color: #92B555; }
.annotation { color: #89B838; font-size: 19px; font-weight: bold; line-height: 24px; padding: 10px 15px 3px; }
.conditions { color: #523511; font-size: 13px; line-height: 18px; padding: 2px 16px 20px; }
.conditions strong { font-size: 12px; font-weight: bold; text-transform: none; }
.conditions p { line-height: 18px;  margin: 0; padding: 0; width: auto; }

.carousel { background: #fff; height: 440px; }
.info { background: #fff; height: 440px; padding: 25px 40px 40px !important; }
	.carousel.list, .info.list { height: auto; padding-bottom: 20px; margin-bottom: 18px; }
	.carousel h1, .carousel h2, .info h1 { color: #808A70; font-size: 16px; font-weight: normal; letter-spacing: 1px; line-height: 22px; padding: 20px 10px 0; text-transform: uppercase; margin: 0 0 30px 0; }
	.carousel h1 .details, .carousel h2 .details, .caption .details { display: block; font-size: 13px; line-height: 23px; color: #523511; text-transform: none; opacity: 0.5; }
	.info h1 { color: #523511; font-size: 18px; line-height: 27px; margin: 0 0 20px; }
	.info h2 { color: #523511; font-size: 17px; padding: 10px 0 0; font-weight: normal; }

.slider img { border: 1px solid #808a70; padding: 3px;}
.slider .note { background: #fff; color: #808A70; font: 11px/14px 'PT Sans',"Times New Roman",Times,serif; height: 85px; overflow: hidden; }
.interiors .note { margin: 0 0 18px; }
.slider p { color: #808A70; font: 12px/18px 'PT Sans',"Times New Roman",Times,serif; }
.slider a { color: #523511; font-size: 13px; text-transform: uppercase; text-decoration: underline; display: block; margin: 30px 0 22px 0; }
.slider a.details { color: #89b838; font-size: 14px; text-decoration: underline; display: block; font-style: italic; text-transform: none; margin: 10px 0; text-align: right; }
.slider a.caption { display: block; min-height: 36px; line-height: 18px; }
.slider .frame { border: 1px solid #808a70; padding: 3px; }
.slider .frame .inner { height: 107px; overflow: hidden; }
.slider .frame img { border: 0 none; padding: 0; }

#samples { background: #fff; }
#samples .design-sample { background: #fff; }
#samples-row { left: 47px; position: absolute; top: 85px; width: 570px; z-index: 1001; background: #fff; }
#samples-row .design-sample { float: left; margin-right: 40px; width: 150px; }
#samples-row.interiors { position: static; margin: 0 auto; }
#samples-row.interiors .design-sample { border-bottom: 1px dashed #808A70; margin-bottom: 18px; }

.aside-block { height: 205px; margin: 0 0 30px 0; background: #fff;  position: relative; }
	.aside-block.stroika { height: 280px; }
	.aside-block.list { height: auto; padding-bottom: 50px; }
	.aside-block.fixed { position: fixed; top: 28px; width: 270px; }
	.aside-block.fixed-after { position: fixed; top: 205px; width: 270px; }
	.aside-block.green { background: #92b555; color: #523511; }
	.aside-block h3 { color: #523511; font-size: 24px; font-weight: normal; padding: 10px 15px; }
	.aside-block ul { list-style: none outside none; margin: 5px 0 0 40px; }
	.aside-block li { line-height: 24px; }
	.aside-block li a { color: #89B838; font-style: italic; text-decoration: underline; padding-right: 10px; }
	.aside-block.green li a { color: #fff; }
	.aside-block a.details { background: #89B838; bottom: 0; color: #fff; font-style: italic; padding: 0 6px 4px; position: absolute; right: 0; text-decoration: underline; }
		.aside-block a.details:hover { text-decoration: none; }
.stroika a.details { bottom: 0; }

.slider-arrow { outline: 0 none !important; display: block; background: url('../img/sprites.png'); width: 25px; height: 40px; text-indent: -9999px; margin: 40px 0 0; }
.slider-arrow.left { background-position: -118px 0; }
.slider-arrow.right { background-position: -140px 0; }

.carousel.index .slider-arrow { position: absolute; }
.carousel.index .left { left: 10px; top: 70px; z-index: 1002; }
.carousel.index .right { right: 15px; top: 70px; z-index: 1003; }

p.signature { color: #523511; font: italic 16px/21px Georgia, serif; margin: 30px 0 10px; }
.contacts-data { font-size: 15px; line-height: 18px; padding: 0 15px; }
.contacts-data p { line-height: 18px; }
.contacts-data a { font-style: italic; text-decoration: none; color: #eee; }
.diplom { margin: 15px 0; }

#stroika-promo-block { position: relative; }
#stroika-promo-block h1 { border-bottom: 2px dashed #7EB91C; color: #7EB91C; font-weight: bold; padding-bottom: 15px; }
#stroika-promo-block .stb { background: url("../img/bycicle.png") no-repeat; height: 58px; position: absolute; right: 50px; top: 43px; width: 125px; }
#stroika-promo-block .separator { border-top: 2px dashed #7EB91C; margin: 25px 0 15px; }
#stroika-promo-block p { font-size: 14px; line-height: 23px; margin-bottom: 15px; }
#stroika-promo-block a { color: #523511; font-family: Georgia, serif; font-style: italic; }
#stroika-promo-block a.btn { color: #fff !important; font-family: 'PT Sans', "Times New Roman", Times, serif; font-style: normal; }
#stroika-promo-block .sponsors { position: absolute; right: 50px; text-align: right; top: 130px; }
#stroika-promo-block .sponsors a { display: block; margin: 20px 0; }
#stroika-promo-block .sponsors.info { position: absolute; right: 10px; text-align: right; top: 335px; }
.pnav { margin: 20px 0 5px; }
.pnav a { display: inline-block; margin: 0 10px 0 0; text-decoration: underline; font-size: 18px;}

p.spacing { letter-spacing: 0.5px; }
p.spacing a { color: #89b838; }
.no-padding { padding: 10px 0 0 !important; }
.stuff-photo { float: left; height: 215px; margin: 10px 0 0; width: 180px; }
.stuff-photo strong { color: #92B555; display: block; font-size: 15px;  letter-spacing: 0.5px;margin: 5px 0 0; width: 175px; }
.stuff-photo em { display: block; margin: 0 0 15px; width: 175px; font-size: 13px; }
.photos { margin: 10px 0;  }
.photos img { margin: 2px 0;  }
p.winner { font-weight: bold; text-transform: uppercase; font-size: 16px; }

/* ==|== footer ====================================================== */
footer { height: 70px; background: #89B838; color: #fff; line-height: 70px; }
footer .contacts { font-size: 16px; position: relative; }
footer .contacts strong { color: #523511; font-weight: bold; }
footer .copy { padding-left: 15px; }
footer .reality { background: url("../img/reality.min.png") no-repeat; display: block; height: 42px; opacity: 0.5; position: absolute; right: 5px; text-indent: -9999px; top: 15px; width: 42px; 
	-webkit-transition: opacity 1s linear 0s; 
	-moz-transition: opacity 1s linear 0s; 
	-o-transition: opacity 1s linear 0s; 
	-ms-transition: opacity 1s linear 0s;
	transition: opacity 1s linear 0s;
}
footer .reality:hover { opacity: 1; }

/* ==|== general ====================================================== */
.no-margin { margin: 0 !important; }
.modal { max-height: 525px; }

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
